[Service]
EnvironmentFile=/app/server/.env
ExecStart=/app/server/pibase server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pibase
User=pibase
WorkingDirectory=/app/server

[Install]
WantedBy=multi-user.target