[core]
  sharedRepository = group
	repositoryformatversion = 0
	filemode = true
	bare = true
[remote "origin"]
	url = "{{ repo_origin }}"
	fetch = +refs/heads/*:refs/heads/*
	fetch = +refs/tags/*:refs/tags/*
	mirror = true