APPROOT=http://server.counterexamples.info
AUTO_PUSH=true

DATABASE_NAME=pi-base
DATABASE_PASSWORD={{ db_password }}
DATABASE_USER=pi-base

DEFAULT_BRANCH=master
ERROR_TOKEN={{ error_token }}

GITHUB_CLIENT_ID={{ github_client_id }}
GITHUB_CLIENT_SECRET={{ github_client_secret }}
GITHUB_TOKEN={{ github_token }}
GITHUB_WEBHOOK_SECRET={{ github_webhook_secret }}

LOG_LEVEL=info

REPO_PATH="/app/data/repo.git"
REPO_UPSTREAM="git@github.com:pi-base/data.git"

ROLLBAR_ENVIRONMENT=production
ROLLBAR_HOST=https://api.rollbar.com
ROLLBAR_TOKEN={{ rollbar_token }}

VIEWER_REDIRECT_URL=http://viewer.counterexamples.info
